/**
  Color Palette;
    #a08794 - english lavender
    #0f0f0f - almost black
    #bb7e8c - old rose

  Fonts:
    font-family: 'Inria Serif', serif; - elegant like newspaper
    font-family: 'Courier Prime', monospace; - console like
**/

@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Inria+Serif&display=swap');

body {
  background-color: #0f0f0f;
  color: white;
  font-size: 1.3em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inria Serif', serif;
}

li {
  font-family: 'Inria Serif', serif;
  font-size: .9em;
}

p {
  font-family: 'Courier Prime', monospace;
}

a {
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #bb7e8c;
  font-family: 'Courier Prime', monospace;
  padding: 1px;
  margin-left: 12px;
}

a:hover {
  border-bottom-color: white;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 25px;
  height: auto;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.post {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  border-left: solid 2px #a08794;
  border-right: solid 2px #a08794;
}

.not-top-post {
  margin-top: 5vh;
}

.post-head {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.post-body {
  text-align: left;
  flex-direction: column;
  display: flex;
  max-width: 100%;
}

.purple {
  color: #a08794; /**that english lavender color**/
}

@media only screen and (max-width: 700px) { /**If screen is that or smaller, then: **/
  .feed {
    width: 90vw;
  }
  body {
    font-size: 1em;
  }
}
